@page
@model Gav.RazorPages.Pages.Peliculas.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pelicula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pelicula.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pelicula.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pelicula.Estreno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pelicula.Estreno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pelicula.EnCartelera)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pelicula.EnCartelera)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Pelicula.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
